#div1{
    background-color: rgb(0, 255, 0)  ;
    padding-top: 20%;
    padding-bottom: 25%;
    text-align: center;
    color: black;
    font-style: oblique;
}

#div2{
    background-color: rgb(255, 0, 0)  ;
    padding-top: 13%;
    padding-bottom: 19.2%;
    text-align: center;
    color: black;
    font-style: oblique;
}